/* VARIABLES */
#homepage .section-header, #gallery .section-header, #menu-page .specialty-container #section-header, #menu-page .menu-container .section-header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #97614a;
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: #aca7a8; }

#menu-page .menu-container .entree-container .entrees .menu-header, #menu-page .menu-container .appetizer-container .appetizers .menu-header, #menu-page .menu-container .dessert-container .desserts .menu-header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: #97614a; }

html body {
  font-family: 'Cormorant Unicase', serif;
  background: #1d1d1d; }

.content-container {
  margin-left: 40px;
  margin-right: 40px; }

#navbar {
  /* NAVBAR */ }
  #navbar .navbar {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px; }
    #navbar .navbar .navbar-brand {
      font-size: 24px; }
    #navbar .navbar .navbar-right {
      border-bottom: 2px solid #aca7a8;
      position: relative;
      top: 20px; }
      #navbar .navbar .navbar-right li:nth-of-type(-n+3) {
        border-right: 1px solid #aca7a8; }
      #navbar .navbar .navbar-right li {
        height: 30px;
        position: relative; }
        #navbar .navbar .navbar-right li a:nth-of-type(-n+3) {
          padding-left: 30px;
          padding-right: 30px; }
        #navbar .navbar .navbar-right li a {
          position: relative;
          top: -20px; }
    #navbar .navbar a {
      color: #97614a; }

/* NAVBAR */
#homepage {
  /* MENU PREVIEW */ }
  #homepage #carousel-example-generic #slide1 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0px -240px; }
  #homepage #carousel-example-generic #slide2 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0px -248px; }
  #homepage #carousel-example-generic #slide3 img {
    width: 100%;
    height: 400px;
    object-fit: cover; }
  #homepage .slogan h1 {
    position: relative;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    color: #97614a;
    border-top: 3px solid #aca7a8;
    border-bottom: 3px solid #aca7a8; }
  #homepage .menu-preview {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap; }
    #homepage .menu-preview .menu-item1::hover {
      background-color: rgba(255, 0, 0, 0.55); }
    #homepage .menu-preview .menu-item1 {
      width: 350px;
      height: 350px;
      object-fit: cover; }
    #homepage .menu-preview .menu-item2 {
      width: 350px;
      height: 350px;
      object-fit: cover; }
    #homepage .menu-preview .menu-item3 {
      width: 350px;
      height: 350px;
      object-fit: cover; }

/* HOMEPAGE */
#gallery {
  margin-bottom: 50px; }
  #gallery .image-gallery-container {
    position: relative;
    display: grid;
    justify-content: space-around; }
    #gallery .image-gallery-container .row1 {
      display: flex; }
    #gallery .image-gallery-container .row2 {
      display: flex; }
    #gallery .image-gallery-container .gallery-photo img {
      width: 300px;
      height: 300px;
      object-fit: cover; }

/* GALLERY */
#footer .footer-hr {
  width: 75%; }
#footer footer {
  background-color: white; }

/* FOOTER */
/* //MENU.HTML// */
#navbar .navbar {
  font-size: 18px; }
  #navbar .navbar .navbar-brand {
    font-size: 24px; }

#menu-page {
  /* MENU CONTAINER */ }
  #menu-page .table {
    width: 100%;
    /*td:nth-of-type(2n) {
        background: white;
    }*/ }
    #menu-page .table td {
      width: 50%;
      height: 100%;
      border-top: none;
      position: relative;
      padding: 0; }
      #menu-page .table td div {
        text-align: center;
        color: #aca7a8;
        width: 50%;
        height: 50%;
        overflow: auto;
        margin: auto;
        position: absolute;
        padding-top: 30px;
        padding-bottom: 30px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
      #menu-page .table td img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        padding: 0;
        border: 2px solid white; }
  #menu-page .specialty-container {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    /* SPECIALTY CONTAINER */ }
  #menu-page .menu-container {
    position: relative;
    display: inline-block;
    width: 100%;
    /* ENTREE CONTAINER */
    /* APPETIZER CONTAINER */
    /* DESSERT CONTAINER */ }
    #menu-page .menu-container .menu {
      position: inherit;
      display: flex;
      justify-content: space-around; }
    #menu-page .menu-container .entree-container {
      position: inherit;
      overflow: hidden;
      background: black;
      width: 400px;
      /* ENTREES */ }
      #menu-page .menu-container .entree-container .entrees {
        /* MENU HEADER */ }
        #menu-page .menu-container .entree-container .entrees .menu-header {
          position: relative;
          display: flex;
          background-image: url(img/food1.jpg);
          background-size: 600px;
          background-position: -155px -50px;
          height: 300px;
          margin: 0; }
          #menu-page .menu-container .entree-container .entrees .menu-header .image-overlay {
            background: rgba(0, 0, 0, 0.35);
            margin: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px; }
          #menu-page .menu-container .entree-container .entrees .menu-header h2 {
            margin: 20px;
            z-index: 1;
            width: 100%;
            text-align: center; }
        #menu-page .menu-container .entree-container .entrees .menu-items {
          padding: 10px; }
          #menu-page .menu-container .entree-container .entrees .menu-items li {
            list-style: none;
            color: #d1d1d1; }
            #menu-page .menu-container .entree-container .entrees .menu-items li h4 {
              color: #a3a3a3;
              text-transform: uppercase; }
              #menu-page .menu-container .entree-container .entrees .menu-items li h4 .total {
                color: #97614a; }
            #menu-page .menu-container .entree-container .entrees .menu-items li p {
              font-size: 16px; }
    #menu-page .menu-container .appetizer-container {
      position: inherit;
      overflow: hidden;
      width: 400px;
      background: black;
      /* APPETIZERS */ }
      #menu-page .menu-container .appetizer-container .appetizers .menu-header {
        position: relative;
        display: flex;
        background-image: url(img/food4.jpg);
        background-position: center;
        background-size: cover;
        height: 300px;
        margin: 0; }
        #menu-page .menu-container .appetizer-container .appetizers .menu-header h2 {
          margin: 20px;
          text-align: center;
          width: 100%;
          z-index: 1; }
        #menu-page .menu-container .appetizer-container .appetizers .menu-header .image-overlay {
          background: rgba(0, 0, 0, 0.35);
          margin: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px; }
      #menu-page .menu-container .appetizer-container .appetizers img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: relative;
        top: -70px; }
      #menu-page .menu-container .appetizer-container .appetizers .menu-items {
        padding: 10px; }
        #menu-page .menu-container .appetizer-container .appetizers .menu-items li {
          list-style: none;
          color: #d1d1d1; }
          #menu-page .menu-container .appetizer-container .appetizers .menu-items li h4 {
            color: #a3a3a3;
            text-transform: uppercase; }
            #menu-page .menu-container .appetizer-container .appetizers .menu-items li h4 .total {
              color: #97614a; }
          #menu-page .menu-container .appetizer-container .appetizers .menu-items li p {
            font-size: 16px; }
    #menu-page .menu-container .dessert-container {
      position: inherit;
      overflow: hidden;
      background: black;
      width: 400px;
      /* DESSERTS */ }
      #menu-page .menu-container .dessert-container .desserts .menu-header {
        position: relative;
        display: flex;
        background-image: url(img/food3.jpg);
        background-position: center;
        background-size: cover;
        height: 300px;
        margin: 0; }
        #menu-page .menu-container .dessert-container .desserts .menu-header .image-overlay {
          background: rgba(0, 0, 0, 0.35);
          margin: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px; }
        #menu-page .menu-container .dessert-container .desserts .menu-header h2 {
          margin: 20px;
          text-align: center;
          width: 100%;
          z-index: 1; }
      #menu-page .menu-container .dessert-container .desserts img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: relative;
        top: -70px; }
      #menu-page .menu-container .dessert-container .desserts .menu-items {
        padding: 10px; }
        #menu-page .menu-container .dessert-container .desserts .menu-items li {
          list-style: none;
          color: #d1d1d1; }
          #menu-page .menu-container .dessert-container .desserts .menu-items li h4 {
            color: #a3a3a3;
            text-transform: uppercase; }
            #menu-page .menu-container .dessert-container .desserts .menu-items li h4 .total {
              color: #97614a; }
          #menu-page .menu-container .dessert-container .desserts .menu-items li p {
            font-size: 16px; }

/* MENU PAGE */
/* GALLERY */

/*# sourceMappingURL=main.css.map */
