html body {
//    font-family: 'Courgette', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Cormorant Unicase', serif;
}

.content-container {
    
}


#homepage {
    background-image: url(img/homepage.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    min-height: 705px;
    
    .navbar {
        font-size: 18px;

        .navbar-brand {
            font-size: 24px;
        }
        
        a {
            color: white;
        }
    }
}
/* HOMEPAGE */

/* //MENU.HTML// */

#navigation {
    background: grey;
    
    .navbar {
        font-size: 18px;
        
        .navbar-brand {
            font-size: 24px;
        }
        
        a {
            color: white;
        }
    }
}

#menu {
    .header {
        text-align: center;
    }
    
    .menu-header {
        position: relative;
        text-align: center;
        color: white;
        text-decoration: line-through;
    }
    
    .menu-item {
        position: relative;
        list-style: none;
        color: white;
        top: 240px;
    }
    
    .specialties {
        position: relative;
        display: flex;
        margin-bottom: 50px;
        
        .specialty-pasta {
            flex: 1;
            text-align: center;
            border: 2px solid black;
            width: 300px;
            height: 300px;
            background-image: url(img/pasta1.jpg);
            background-size: 500px;
            background-position: -80px -20px;
        }
        .specialty-pizza {
            flex: 1;
            text-align: center;
            border: 2px solid black;
            width: 300px;
            height: 300px;
            background-image: url(img/pizza1.jpg);
            background-size: 500px;
        }
        .specialty-dessert {
            flex: 1;
            text-align: center;
            border: 2px solid black;
            width: 300px;
            height: 300px;
            background-image: url(img/dessert1.jpg);
            background-size: 625px;
            background-position: -10px -155px;
        }
    }
    
    .menu {
        position: relative;
        display: flex;
        
        .entrees {
            flex: 1;
            border: 2px solid black;
            width: 300px;
            height: 100%;
            background-color: #575151;
            background-repeat: no-repeat;
            background-image: url(img/pasta3.jpg);
            background-size: 500px;
            background-position: -32px -312px;
        }
        
        .appetizers {
            flex: 1;
            border: 2px solid black;
            width: 300px;
            height: 100%;
            background-color: #575151;
            background-repeat: no-repeat;
            background-image: linear-gradient(to bottom, rgba(76,76,76,0) 20%,rgba(44,44,44,7) 54%,rgba(28,28,28,1) 60%,rgba(0,0,0,1) 70%,rgba(19,19,19,1) 99%,rgba(28,28,28,1) 100%), url(img/carousel2.jpg);
            background-size: 550px;
            background-position: -126px -96px;
        }
       
        
        
        .desserts {
            flex: 1;
            border: 2px solid black;
            width: 300px;
            height: 100%;
            //background-color: #575151;
            background-repeat: no-repeat;
            background-image: linear-gradient(transparent 10%, #575151, #575151), url(img/dessert2.jpg);
            background-size: 550px;
            background-position: 0px -65px;
        }
    }
}
